
/* Style Tags */
html{
  background-color: black;
}
h1,h2{
  text-align: center;
  color: violet;
}
h1, p{
  color: violet;
}
p{
  width: 90%;
  margin-left: 2em
}
table, th, td,tr {
  border: 1px solid;
  text-align: center;
  color: violet;
  border-color: violet;
}
table{
  width: 100%;
}

form{
  margin-left:30%;
  margin-right: 30%;
  text-align: center;
  border:violet;
  color: violet;
}
fieldset{
  border:1px solid violet;
}
button {
cursor: pointer;
color: #0a0a23;
background-color: #f700ff;
background-image: linear-gradient(#f700ff, #700067);
border: 3px solid #700067;
}
/* classes */
.main {
  background-color: black;
  margin-left: 200px; /* Equal to #navbar width */
  width: calc(100% - 200px); /* Prevent overflow */
  min-height: 100%;
  border-left: 0;
  color: white;
}
.image{
  max-width: 50%;
  width: 40%;
  height: 40%;
  margin-left:30%;
  margin-right: 30%;
  border:5px solid violet;
  border-radius: 5%;
  background-image: url(https://thumbs.dreamstime.com/b/purple-motion-blurred-shaded-background-wallpaper-vivid-color-vector-illustration-many-uses-advertising-book-page-paintings-126334102.jpg);
  background-size:contain;
}
.center {
  display: flex;
  position: absolute;
  top: 5%;
  left: 10%;
  }
  .divider {
  border-bottom: 6px solid violet;
  margin: 50px 0;
  }
  .onehalf{
  display: flex;
  justify-content: flex-end;
  padding-left: 2em;
  padding-right: 2em;
  width: 50%;
  max-width: 40%;
}
.center-text{
  text-align: center;
  margin-left: 4.5%;
}
.output {
  margin-top: 20px;
  text-align: center;
  color: violet;
  font-weight: bold;
  }
.stat {
  padding-right: 10px;
}
.programlist{
  font-size: 1.5em;
  text-align: center; 
  list-style: none;
}
.programlist a{
  text-decoration: none;
  cursor: pointer;
}
.link{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 90%;
  align-items: center;
  padding-bottom: 5%;
}
/* ID's */
#navbar {
  position: fixed;
  min-width: 100px;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 100%;
  border-right: solid;
  border-color: rgba(234, 0, 255, 0.4);
  z-index: 999;
}
  #navbar a{
  color: violet;
  display: block;
  padding:20px 30px;
  text-decoration: none;
  cursor: pointer;
  border-top:2px solid rgba(234, 0, 255, 0.4);
}
#navbar li{
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar ul {
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
/* This is styling for emoji matcher project */
#my-game {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  text-align: center;
}
/* end of emoji matcher */
/* this is code for the RPG */
#text {
  background-color: black;
  color: violet;
  padding: 10px;
  border: 1px solid violet;
}

#game {
  display: block;
  max-width: 1000px;
  max-height: 800px;
  background-color: #353535;
  color: violet;
  margin: 30px auto 0px;
  padding: 0px;
  border: 3px solid violet;
}
#img{
  display: block;
  max-width: 600px;
  max-height: 500px;  
  margin: 30px auto 0px;
  padding:0px;
  border: 1px solid violet;
}
#controls,
#stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px solid violet;
  padding: 5px;
  color: violet;
}

#monsterStats {
  display: none;
  border: 1px solid violet;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}
/* end of RPG styling code. */
/* global variable */
*{
    box-sizing: border-box;
}